@media only screen and (max-width: 1200px) {
  .container {
    width: 97%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1100px) {
  .container {
    width: 93%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 800px) {
  #main__section {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .mac__content h1 {
    font-size: 30px;
    line-height: 35px;
  }

  .mac__content p {
    font-size: 15px;
    line-height: 20px;
  }

  .mac__configuration h3 {
    font-size: 18px;
  }

  table {
    margin: 25px 0;
  }

  .total__cost h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 450px) {
  .mac__content h1 {
    font-size: 22px;
    line-height: 30px;
  }

  .total__cost h1 {
    font-size: 30px;
  }
}
